* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: url('bg7.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    min-height: 100vh;}

.logo {
    position: absolute; 
    top: 20px;
    left: 20px;
    width: 80px;
}

.app {
    width: 1200px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}

.app h1 {
    font-size: 35px;
    color: #72ddf7;
    font-weight: 600;
    border-bottom: 1px solid #4895ef;
    padding-bottom: 30px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 25px;
    color: #4cc9f0;
    font-weight: 600;
}

.btn {
  background: transparent;
  color: #c4fff9;
  font-size: 20px;
  width: 100%;
  border: 1px solid #555050;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}


.btn:hover:not([disabled]) {
    background: #9ceaef;
    color: #003249;
    box-shadow: 0 0 15px #9ceaef; /* adds a soft blur glow */
    transform: scale(1.05); /* slightly enlarges on hover */
    transition: all 0.3s ease; /* smooth animation */
}


.btn:disabled {
    cursor: no-drop;
}

#next-btn {
    background: #001e4d;
    color: #fff;
    font-size: 25px;
    width: 150px;
    border: 0;
    padding: 10px;
    border-radius: 4px;
    margin: 20px auto;
    cursor: pointer;
    display: none;
}

.correct {
    background: #b2ff9e;
    color: #003200;
    box-shadow: 0 0 20px 5px rgba(178, 255, 158, 0.8); /* soft green glow */
    transition: all 0.3s ease;
}

.correct:hover {
    box-shadow: 0 0 35px 10px rgba(178, 255, 158, 1); /* brighter glow on hover */
    transform: scale(1.05);
}

.incorrect {
    background: #ff7b7b;
    color: #320000;
    box-shadow: 0 0 20px 5px rgba(255, 123, 123, 0.8); /* red glow */
    transition: all 0.3s ease;
}

.incorrect:hover {
    box-shadow: 0 0 35px 10px rgba(255, 123, 123, 1); /* brighter red glow on hover */
    transform: scale(1.05);
}

