* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #2a6041, #28965a, #adf1d2);
}

.logo {
    position: absolute; 
    top: 20px;
    left: 20px;
    width: 80px;
}

.app {
    background: #96c5b0;
    width: 900px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}

.app h1 {
    font-size: 35px;
    color: #755b69;
    font-weight: 600;
    border-bottom: 1px solid #553555;
    padding-bottom: 30px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 25px;
    color: #442220;
    font-weight: 600;
}

.btn {
    background: #f2fbe0;
    color: #414073;
    font-size: 20px;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]) {
    background: #001e4d;
    color: #fff;
}

.btn:disabled {
    cursor: no-drop;
}

#next-btn {
    background: #001e4d;
    color: #fff;
    font-size: 25px;
    width: 150px;
    border: 0;
    padding: 10px;
    border-radius: 4px;
    margin: 20px auto;
    cursor: pointer;
    display: none;
}

.correct {
    background: #9aeabc;
}

.incorrect {
    background: #ff7b7b;
}
