body {
  background: linear-gradient(to top, #fb6f92, #ff8fab, #ffb3c6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  color: rgb(88, 2, 70);
}

p {
  font-size: 80px;
  margin: 10px 0;
  text-align: center;
}

.back-btn {
  margin-top: 40px;
  padding: 12px 25px;
  font-size: 18px;
  background-color: #f20089;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.back-btn:hover {
  background-color: #e500a4;
}
